.reddit-card {
  margin: 2rem auto;
}
.item-container {
  display: flex;
  flex-direction: column;
}

.video-item {
  width: 100vw;
}
.image-item {
  width: 100vw;
}

.legend-item {
  margin-top: -8rem;
  background-color: grey;
  opacity: 0.6;
}
