.reddit-card {
  margin: auto;
}
.item-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}

.video-item {
  width: auto;
  height: 100vh;
}
.image-item {
  width: 100vw;
}

.legend-item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 1rem;
  opacity: 0.8;
  margin: auto;
}
